asgiref==3.6.0
certifi==2020.12.5
distlib==0.3.6
Django==4.1.5
django-cors-headers==3.13.0
djangorestframework==3.14.0
filelock==3.8.2
mccabe==0.6.1
pipenv==2022.11.30
platformdirs==2.6.0
pycodestyle==2.6.0
pyflakes==2.2.0
python-dotenv==0.15.0
pytz==2020.4
sqlparse==0.4.1
virtualenv==20.17.1
virtualenv-clone==0.5.7
whitenoise==5.2.0
