.about-us-container {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgb(17, 17, 17);
  overflow-y: scroll;
}

.about-us-pre-heading {
  position: relative;
  font-size: 2vh;
  text-align: center;
  font-family: "Poppins";
  color: rgb(206, 206, 206);
}

.about-us-heading {
  position: relative;
  font-size: 5vh;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  margin-top: 5%;
}

.close {
  right: 4%;
  font-size: 5vh;
  top: 4%;
  position: fixed;
  background-color: rgb(17, 17, 17);
  color: white;
  border: none;
  cursor: pointer;
}
.about-image-container {
  padding: 20px 40px 40px;
  margin-top: 5%;
  margin-right: 10%;
}

.about-image {
  max-width: 25%;
  max-height: 50%;
  margin-left: 15%;
  margin-right: 7%;
  float: left;
}

.about-us-text {
  display: inline;
}

.whoami {
  font-size: 2.5vh;
  margin: 1%;
  font-family: "Poppins";
  font-weight: bolder;
  color: rgb(57, 155, 107);
}

.answer {
  font-size: 3vh;
  font-weight: bolder;
  font-family: "Poppins";
  margin: 0;
}

.text {
  font-size: 2vh;
  font-family: "Poppins";
  color: #a1a1a1;
  text-align: justify;
}

.about-details {
  margin-left: 10%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  font-family: "Poppins";
  font-size: 1.8vh;
  text-align: left;
}

.about-title {
  color: #a1a1a1;
}

@media screen and (max-width: 898px) {
  .about-image {
    border-radius: 50%;
    height: 200px;
    max-width: none;
    max-height: none;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 55%;
  }
  .about-us-text {
    display: inline-block;
  }

  .about-details {
    margin-left: 10%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    font-family: "Poppins";
    font-size: 1.8vh;
    text-align: left;
  }

  .about-us-heading {
    margin-top: 15%;
    margin-bottom: 0;
  }

  .about-image-container {
    margin-right: auto;
  }
}



.skills{
  width: 80%;
  margin: 15% auto;
  font-family: "Poppins";

}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: white;
  display: flex;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.python::before{
  width: calc(95% - 10px);
  background-color: #4481f7;
}
.bar.css::before{
  width: calc(90% - 10px);
  background-color: #4481f7;
}
.bar.html::before{
  width: calc(90% - 10px);
  background-color: #4481f7;
}
.bar.js::before{
  width: calc(60% - 10px);
  background-color: #4481f7;
}
.bar.java::before{
  width: calc(60% - 10px);
    background-color: #4481f7;

}
.bar.cpp::before{
  width: calc(40% - 10px);
    background-color: #4481f7;

}


.lang{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 5%;
}

.list{
  margin: 3% 5%;
  font-family: "Poppins";
  font-size: large;
  font-weight: bold;
  padding: 5px;
}

.fadewhite{
  border:solid #c7c7c7 ;
}

@media screen and (max-width: 898px) {
  .lang{
    display: block;
  }
}